<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, this is my about page!</h1>
    <p>
      I'm baby vice paleo microdosing single-origin coffee, brooklyn try-hard raclette. Blue bottle sriracha cillum
      health goth magna, hell of shaman skateboard ea enim. Meditation lumbersexual flannel four dollar toast 8-bit aute
      sint cornhole tofu salvia elit DIY. Blue bottle pok pok pabst, swag adipisicing officia listicle fixie offal
      crucifix fashion axe blog poutine. Laborum leggings franzen butcher, YOLO poutine la croix pok pok velit dolore eu
      cillum. Succulents meh kale chips intelligentsia literally farm-to-table tattooed truffaut. Affogato squid celiac
      jianbing organic biodiesel occaecat.
    </p>
  </div>
</div>
